body{
  position: relative;
  background-image: url(../img/bgy.png);
  height: 100vh;
}

main{
  width: 85%;
  height: 100%;
}

.container-fluid, .contacts-sidebar, .conversation-viewport{
  max-height: 100%;
}

.contacts-list{
  flex-grow: 1;
  overflow-y: scroll;
  height: 660px;
}

.conversation-container{
  flex-grow: 1;
  overflow-y: scroll;
  background: url(../img/mine.jpg);
  position: relative;
  width: 100%;
  padding: 2rem 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 1rem 0 .6rem;
}

.user-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-img {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.main-user {
  font-size: .9rem;
  font-weight: 600;
  margin-left: .9rem;
}

.dp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.nav-icons li {
  list-style: none;
  display: flex;
  cursor: pointer;
  color: #b1b1b1;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.notifications-banner{
  width: 100%;
  height: 70px;
  background: #76daff;
  padding-left: .6rem;
}

.notifications-banner i {
  background: #ffffff;
  padding: 9px;
  width: 42px;
  height: auto;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  color:#76daff;
}

.notifications-text {
  margin: 1rem;
}

.notifications-text p{
  font-size: .9rem;
  font-weight: 500;
  margin-bottom: 0;
}

.notifications-text a {
  color: #6b7376;
  font-size: 0.8rem;
}

.search-container {
  width: 100%;
  height: 50px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container .input {
  width: calc(100% - 1rem);
}

.contacts-list .chat-box {
  width: 100%;
  cursor: pointer;
  padding: .5rem;
  border-bottom: 1px solid #e9ebeb;
}

.contacts-list .chat-box .img-box {
  width: 55px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}

.contacts-list .chat-box .chat-details {
  width: 100%;
  margin-left: 1rem;
}

.contacts-list .chat-box .chat-details .text-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contacts-list .chat-box .chat-details .text-head h4 {
  font-size: .9rem;
  color: #000;
}

.contacts-list .chat-box .chat-details .text-head .time {
  font-size: 0.8rem;
  color: #c6c9cb;
}

.contacts-list .chat-box .chat-details .text-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-list .chat-box .chat-details .text-message p {
  color: #c6c9cb;
  font-size: 0.9rem;
  font-weight: 400;
}

img {
  width: 100%;
  object-fit: cover;
}

.contacts-list .active {
  background: #ebebeb;
}

.contacts-list .chat-box:hover {
  background: #e9ebeb;
}

.user-info-chat {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.user-info-chat-name {
  font-size: .9rem;
  font-weight: 600;
}

.user-info-chat-access {
  font-size: .7rem;
  font-weight: 600;
  color: #b1b1b1;
}

.message-div {
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.message-parameters{
  width: 30%;
  padding: .5rem;
  border-radius: 10px;
}

.message-text {
  text-align: left;
  font-size: 0.9rem;
}

.message-time {
  font-size: 0.6rem;
  opacity: 0.5;
  text-align: right;
}

.message-sent {
  justify-content: flex-end;
}

.message-sent > * {
  background: #dcf8c6;
}

.message-received > * {
  background: #ffffff;
}

.message-received {
  justify-content: flex-start;

}

.conversation-message {
  width: 100%;
  height: 60px;
  background: #f3eeea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conversation-message i {
  cursor: pointer;
  font-size: 1.2rem;
  color: #6b7376;
}

.emoji, .vocal{
  height: 100%;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-message input {
  flex-grow: 1;
  padding: 10px 20px;
  border-radius:10px;
  font-size: .8rem;
  border: none;
  outline: none;
}
