<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Third parts external links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  
  <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
  <!-- My css link -->
  <link rel="stylesheet" href="css/style.css">

  <title>Vue Boolzap</title>
</head>
<body>
  <header>
  </header>
  <div id="app">
    <main class="my-4 mx-auto">
      <div class="container-fluid gx-0">
        <div class="row flex-row gx-0">
          <div class="col-md-4 d-flex flex-column contacts-sidebar">
            <div class="header bg-white">
              <div class="user-info">
                <div class="user-img">
                  <img class="dp" src="./img/avatar_io.jpg" alt="">
                </div>
                <div>
                  <span class="main-user">Sofia</span>
                </div>
              </div>
              <div class="nav-icons d-flex justify-content-end">
                <li><i class="fa-solid fa-circle-notch"></i></li>
                <li><i class="fa-solid fa-message"></i></li>
                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
              </div>
            </div>
            <!-- banner notifiche -->
            <div class="notifications-banner d-flex align-items-center">
              <i class="fa-solid fa-bell-slash" style="color: #8edafc;"></i>
              <div class="notifications-text">
                <p>Ricevi notifiche di nuovi messaggi</p>
                <a href="#">Attiva notifiche desktop</a>
              </div>
            </div>
            <!-- form con search bar-->
            <div class="search-container">
              <div class="input input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat"
                  aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
            <!-- chat list -->
            <div class="contacts-list bg-white">
              <div class="chat-box d-flex align-items-center"
                v-for="contact in contactsList"
                :key="contact.name"
                @click="onUserClick(contact)">
                <div class="img-box">
                  <!-- v-bind:src="`./img/avatar${contact.avatar}.jpg`" -->
                  <!-- src="./img/avatar_1.jpg" -->
                  <img class="img-cover" alt="" 
                  v-bind:src="getAvatarSrc(contact)">
                </div>
                <div class="chat-details">
                  <div class="text-head">
                    <h4 class="mb-0">{{ contact.name }}</h4>
                    <p class="time mb-0">12:00</p>
                  </div>
                  <div class="text-message">
                    <p>Ultimo messaggio inviato</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- container destro/principale -->
          <div class="col-md-8 d-flex flex-column conversation-viewport">
            <!-- chat navbar -->
            <div class="conversation-navbar">
              <div class="header bg-white">
                <div class="user-info">
                  <div class="user-img" v-if="currentContact">
                    <img class="dp" alt="" v-bind:src="getAvatarSrc(currentContact)">
                  </div>
                  <div class="user-info-chat">
                    <span class="user-info-chat-name">{{currentContact.name}}</span>
                    <span class="user-info-chat-access">Ultimo accesso oggi alle 12:00</span>
                  </div>
                </div>
                <div class="nav-icons d-flex justify-content-end">
                  <li><i class="fa-solid fa-magnifying-glass"></i></li>
                  <li><i class="fa-solid fa-paperclip"></i></li>
                  <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                </div>
              </div>
            </div>
            <!-- container chat in utilizzo -->
            <div class="conversation-container">
              <div class="message-div flex-column" v-if="currentContact">
                <div class="message-parameters" 
                v-for="(message, status) in currentContact.messages" :key="message.date"
                v-bind:class="getMessageClass(message.status)">
                  <p class="message-text mb-0">{{ message.message }}</p>
                  <p class="message-time mb-0">{{ message.date }}</p>
                </div>
              </div>
            </div>
            <!-- sezione invio messaggio -->
            <div class="conversation-message">
              <div class="emoji">
                <i class="fa-regular fa-face-grin"></i>
              </div>
              <input type="text" placeholder="Scrivi un messaggio">
              <div class="vocal">
                <i class="fa-solid fa-microphone"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div> 
  <!-- My JS file -->
  <script src="js/main.js"></script>
  <!-- Bootstrap JS file -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>